//两个页面切换
.mypages{margin-bottom: 15px;}
.page{margin-right: 10px;font-size: 18px;padding-bottom: 10px;width: 160px;position: relative;text-align: center;cursor: pointer;}
.line{position: absolute;width: 160px;height: 6px;border-radius: 3px;bottom:-4px;left: 0;background: white;}
