.wrapper{
  width:100%;
  height: auto;
  .explain{
    display: block;
    width:50px;
    height:20px;
    line-height: 19px;
    margin:10px 0;
  }
  .add-max{
    width:130px;
    margin:0 0 20px 0;
  }
  .form{
    width:100%;
    height: auto;
    ul{
      width:100%;
      margin:0 0 0 -20px;
      li{
        list-style: none;
        width:250px;
        height: auto;
        margin:20px 0;
      }
    }
  }
  .table-box{
    width:100%;
    height: auto;
    max-height:500px;
    overflow-y: scroll;
    .table{
      th,td{
        text-align: center;
      }
      .price{
        font-size: 1.5em;
        color:#fff;
      }
      .unit{
        font-size: 1em;
        color:#fff;
      }
    }
    .edit-btn{
      color:#fff;
    }
  }
}
