.pop-content {
    width: 900px;
    margin: 100px -5px -5px -200px;
    padding: 5px;
    overflow: hidden;
    .modal-body {
        max-height: 500px;
        overflow-y: scroll;
        .input-group {
            select {
                width: 30%;
                min-height:35px;
            }
            input {
                width: 55%;
            }
            .btn-group {
                width: 15%;
                .btn {
                    border-radius: 0 3px 3px 0;
                }
            }
        }
    }
}