<form class="smmodal" (submit)="onSubmit(currency.value,min.value,max.value)">
  <div class="pop-content">
    <div class="modal-header head">
      <h4 class="modal-title mytitle">{{modalHeader}}
        <span class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </span>
      </h4>
    </div>
    <div class="modal-body">
      <div class="card card-block">
        <div><p>订单币类：
          <select name="select" #currency>
            <option *ngFor="let option of Currencys" value={{option}}
                    [attr.selected]="option == limitingmoney.currency ? true : null"
            [style.color]="option == limitingmoney.currency ? 'red' : 'green'">{{option}}</option>
          </select>
        </p>
        </div>
        <div>
          <p>金额范围：</p>
          <p>
            <input id="min" class="form-control" type="number" placeholder="最小金额" #min  name="min"  value={{limitingmoney.min}}>&lt;=订单金额&lt;=
            <input class="form-control" type="number" placeholder="最大金额"  #max  name="max"  value={{limitingmoney.max}}>
          </p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-sm pull-right submit">确定</button>
      <button type="button" class="btn btn-sm pull-right cancel" (click)="closeModal()">取消</button>
    </div>
  </div>
</form>
