.pop-content {
    width: 100%;
}
.modal-footer{
  margin-top: 10px;
}

.modal-body {
    color: white;
}
form {
    margin: -5px;
    width: 101%;
    font-size: 0;
    display: flex;
    justify-content: center;
}

.gap {
    margin-bottom: 15px;
}

.title {
    font-size: 18px;
}

.tag {
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    width: auto;
}

.inline {
    display: inline-block;
}

table {
    text-align: center;
    color: white;
}

table thead tr th {
    text-align: center;
}

table tbody tr td button {
    background-color: transparent;
    border: 1px solid whitesmoke;
    color: white;
}

button span {
    padding-right: 10px;
}

[disabled]:hover {
    cursor: not-allowed;
}


.head {
    padding: 5px 0;
    border-radius: 5px 5px 0 0;
    min-height: 35px!important;
}

.mytitle {
    font-size: 16px;
    margin: 5px 15px;
    border-bottom: 1px solid white;
    color: white;
}

.smhead {
    padding: 5px 0 5px 8px;
    border-radius: 5px;
    color: #2a2a2a;
    font-size: 16px;
    background: rgba(255, 255, 255, .3);
    border-bottom: 1px solid white;
}

.submit {
    background-color: #c78100;
    border: 1px solid #c78100;
    color: whitesmoke;
}

.cancel {
    background-color: transparent;
    border: 1px solid whitesmoke;
    color: whitesmoke;
}

input[type='text'],select {
    border-radius: 5px;
    border:none;
    background: rgba(0, 0, 0, 0.2);
    color:#fff;
}
.width {
    width: 48%;
}

.smhead {
    padding: 5px 0 5px 8px;
    border-radius: 5px;
    color: #2a2a2a;
}

.mycard-wrap {
    height: 450px;
    position: relative;
}

.mycard {
    border: 1px dashed #252525;
    height: 100%;
    border-radius: 5px;
    transition: all 0.2s ease;
    position: absolute;
    z-index: 1;
    overflow-y: scroll;
}

.mycard:hover {
    border: 1px solid #252525;
    box-shadow: 0 0 10px 2px #363636;
}

.mycard-wrap .mycard:nth-of-type(1) {
    left: 0;
}

.mycard-wrap .mycard:nth-of-type(2) {
    right: 0;
}

input[type='checkbox'] {
    display: none;
}

.mycard>.item {
    margin-bottom: 10px;
    position: relative;
    font-size: 14px;
    padding:0 10px;
}

//右边布局
.mycard>.item>.box {
    position: absolute;
    width: 16px;
    height: 16px;
    border: 1px solid white;
    left: 10px;
    top: 50%;
    margin-top: -8px;
}

.mycard>.item>.box>span {
    color: black;
    font-size: 14px;
    position: relative;
    left: 2px;
    top: -3px;
}

.mycard>.item>label {
    width: 100%;
    font-size: 14px;
    margin-bottom: 0;
    padding-left: 45px;
}

.mycard>.item>label>span {
    font-style: italic;
    font-weight: bold;
}

.mycard>.item>.tittle {
    display: inline-block;
}

a{
    color: dodgerblue;
    background: white;
    border-radius: 3px;
    padding: 1px;
    margin:0 5px 5px 0;
    overflow-wrap: break-word;
    display: inline-block;
}

.smmodal {
    position: absolute;
    top: 100px;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    height: auto;
}
.smmodal.goods{
  width: 808px;
  margin-left: -404px;
  height: 795px;
  top:50px;
}

.modal-body .card p select,
.modal-body .card p input[type='number'] {
    width: 30%;
    height: 30px;
    border-radius: 5px;
}

.my-pagination /deep/ .ngx-pagination {
    padding: 0;
    height: 30px;
    line-height: 25px;
    background: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 5px;
}

.my-pagination /deep/ .ngx-pagination a {
    width: 30px;
    height: 28px;
}

.my-pagination /deep/ .ngx-pagination .current,
.my-pagination /deep/ .ngx-pagination a:hover {
    width: 30px;
    height: 28px;
    background: rgba(0, 0, 0, 0.2);
}

.my-pagination /deep/ .ngx-pagination .pagination-previous,
.my-pagination /deep/ .ngx-pagination .pagination-next {
    line-height: 20px;
    font-size: 1.5em;
}

.smgap select {
    margin-left: -2px
}

.select {
    padding: 0 15px;
    color: white;
}


.input-select /deep/ .select2-container  .select2-selection--single{
  font-size: 14px;
  padding:5px;
  height: 35px;
}
.input-select /deep/ .select2-container  .select2-selection__arrow{
  height: 100%;
}
.none{
  display: none;
}
select>option{
  background-color: white;
  color: black;
}
