<div class="card card-block">
  <div class="gap">
    <button class="btn bt-sm btn-primary" (click)="openAddRulesModal()"><span class="ion-plus-round"></span>添加规则</button>
  </div>
  <div class="searchPart gap">
    <div class="title">状态:</div>
    <div class="buttonpart" id="rolepart">
      <span class="tag" (click)="addClass1($event.target)">全部</span>
      <span class="tag" (click)="addClass1($event.target)">已启用</span>
      <span class="tag" (click)="addClass1($event.target)">已停用</span>
    </div>
  </div>
  <div class="table-wrap gap">
    <table class="table table-hover table-bordered gap" id="table">
      <thead>
      <tr class="black-muted-bg">
        <th>优先级</th>
        <th>规则名称</th>
        <th>匹配仓库</th>
        <th>状态</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of storageRulesData |statuspipe:selectKind">
        <td>
          <!--<input type="text"    value={{item.priority}}  (change)="changePriority($event.target,item.id)" (focus)="getPreValue($event.target)">-->
          <div class="show-wrap">
            <span class="icon-wraper" (click)="doEditPriority($event.target)"><i class="fa fa-edit"></i></span>
            <span>{{item.priority}}</span>
          </div>
          <div class="edit-wrap" style="display: none">
            <!--<input type="text" name="priority" value={{item.priority}} (keypress)="isNumber($event)"-->
            <!--(change)="changePriority($event.target,item.id)" (focus)="getPreValue($event.target)">-->
            <input class="priority-input" type="number" name="priority" value=''
                   (keyup.enter)="changePriority($event.target,item.id)" (blur)="cancelEdit($event.target)">
          </div>
        </td>
        <td>{{item.name}}</td>
        <td>{{item.wareHouseName}}</td>
        <td [ngStyle]="{color:item.status=='已启用'?'#46da46':'#BB0000'}">{{item.status}}</td>
        <td>
          <button class="btn btn-sm" (click)="modifyRule(item.name,item.id,item.warehouseId)"><span class="ion-edit"></span>修改
          </button>
          <button class="btn btn-sm" *ngIf="item.status=='已启用'"
                  (click)="setStatusDisable(item.name,item.id)">
            <span class="ion-close-round" [ngStyle]="{color:item.status=='已启用'?'red':'green'}"></span>停用
          </button>
          <button class="btn btn-sm" *ngIf="item.status=='已停用'"
                  (click)="setStatusOnable(item.name,item.id)">
            <span class="ion-checkmark-round" [ngStyle]="{color:item.status=='已启用'?'red':'#8BD22F'}"></span>启用
          </button>
          <button class="btn btn-sm" (click)="deleteRule(item.name,item.id)"><span class="ion-trash-b"></span>删除
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

