.emport-title {
    border-left: 3px solid #fff;
    text-indent: 0.5em;
}

.add-btn {
    margin: 10px 0;
}

.state-change {
    display: inline-block;
    width: 100px;
    height: 30px;
    color: #fff;
}

.table {
    td {
        vertical-align: middle;
    }
}
