<div class="pop-content animated fadeIn">
  <div class="modal-header">
    <span class="modal-title">修改发货重量</span>
    <button type="button" class="close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label class="control-label">
      <span class="must">必填</span>
      输入发货重量
    </label>
    <input type="text" [(ngModel)]="editShipWeight" class="form-control">
  </div>
  <div class="modal-footer">
    <div class="btn-group">
      <button class="btn btn-default" (click)="closeModal()">取消</button>
      <button class="btn btn-primary" (click)="editeWeight()">确定</button>
    </div>
  </div>
</div>
