form .options .input-group select {
    height: 32px;
}

.pop-content {
    width: 920px;
}

.search:focus {
    background: transparent;
}

.card {
    ul {
        width: 100%;
        padding: 0;
        li {
            width: 100%;
            height: auto;
            float: left;
        }
    }
    .list-label {
        display: block;
        float: left;
        width: 100px;
        height: auto;
        line-height: 40px;
    }
    .search-group {
        width: 400px;
        float: left;
    }
}

div.range{
  display: flex;
  width: 400px;
  .samllgap{
    line-height: 35px;margin:0 5px;
  }
  input{
    width: 100px;
  }
}
.icon-gap{
  margin-right: 5px;
}
