.pop-content{
    width:500px;
    .modal-body{
        width:100%;
        height:auto;
        ul{
            width:100%;
            height:auto;
            padding:0;
            float: left;
            li{
                display: block;
                width:100%;
                float: left;
                margin:5px 0;
                &:first-child{
                    color:#FA3667;
                }
                .edit-title{
                    display: inline-block;
                    width:25%;
                    height:40px;
                    text-align: center;
                    font-size: 14px;
                    float: left;
                }
                span{
                    display: inline-block;
                    width:70%;
                    float: left;
                }
                .form-control{
                    width:65%;
                }
            }
        }
    }
}