.pop-content {
    width: 1200px;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    .modal-body {
        width: 100%;
        .search-condition {
            width: 100%;
            height: auto;
            padding: 0;
            li {
                display: block;
                width: 100%;
                height: 40px;
                margin: 10px 0;
                .search-title {
                    float: left;
                    line-height: 40px;
                }
                .screen-wrapper {
                    float: left;
                }
                .input-group {
                    width: 300px;
                    float: left;
                    margin-left: 5px;
                }
            }
        }
    }
}