.pop-content {
    width: 500px;
    margin-left: -50px;
    .modal-body {
        a {
            text-decoration: underline !important;
            margin-left: 10px;
            color: #84C4FF;
        }
        .checkbox-inline{
            float: left;
            margin-right:10px;
        }
    }
}