#table thead tr th{width: 16.66%;}
#table tbody tr td button {width: 40%;}
#table tbody tr td:nth-of-type(6) button:nth-of-type(1) span{color: black;}
#table tbody tr td:nth-of-type(6) button:nth-of-type(2) span{color: red;}

