<form class="smmodal" (submit)="onSubmit(min.value,max.value)">
  <div class="pop-content">
    <div class="modal-header head">
      <h4 class="modal-title mytitle">{{modalHeader}}
        <span class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </span>
      </h4>
    </div>
    <div class="modal-body">
      <div class="card card-block">
        <div>
          <p>
            <span>重量范围：</span>
            <input class="form-control" id="min" type="number" placeholder="最小重量"  #min  name="min" value={{weightrange.min}}>~
            <input class="form-control" type="number" placeholder="最大重量"  #max  name="max"  value={{weightrange.max}}>
          </p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-sm pull-right submit">确定</button>
      <button type="button" class="btn btn-sm pull-right cancel" (click)="closeModal()">取消</button>
    </div>
  </div>
</form>
