.pages select{height: 31px!important;}
table tr label{display: flex;justify-content:center;align-items: center;border-radius: 50%;margin:auto;}
table tr label .myicon{width: 11px;height: 11px;border:1px solid white;border-radius: 50%;background: white; }
