.form {
    ul {
        padding: 0;
        li {
            width: 100%;
            float: left;
            margin: 10px 0;
            .title {
                display: inline-block;
                margin: 5px 0;
            }
        }
    }
}

.pop-content {
    width: 400px;
}