.pop-content {
    width: 900px;
    position: absolute;
    left:50%;
    transform: translate(-50%,0);
}
td{
    span{
        i{
            font-size: 14px;
            margin-right:10px;
        }
    }
}