<form>
  <div class="pop-content animated fadeIn">
    <div class="modal-header">
      <span class="modal-title">回复模板管理</span>
      <button type="button" class="close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <button class="btn btn-sm btn-primary btn-with-icon" style="margin-bottom:10px" (click)="openTemplateEditModal(null)"><i class="ion-plus-round"></i>添加模板</button>
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th width="600px">模板名称</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data | paginate: { id: 'pager',
          itemsPerPage:PageInfo.pageSize,
          currentPage:PageInfo.pageIndex,
          totalItems:PageInfo.totalCount};let i = index">
            <td>{{item.name}}</td>
            <td>
              <!-- <span>
                <i class="ion-record yellow-text"></i>使用中</span> -->
              <span>
                <i class="ion-record red-text"></i>{{item.statusDesc}}</span>
            </td>
            <td>
              <button class="btn btn-xs btn-primary" (click)="openTemplateEditModal(item.id)">编辑</button>
              <button class="btn btn-xs btn-warning" *ngIf="item.statusInt==0" (click)="enableTemplate(item.id,item.statusInt)" >停用</button>
              <button class="btn btn-xs btn-warning" *ngIf="item.statusInt==1" (click)="enableTemplate(item.id,item.statusInt)" >启用</button>
              <!-- <button class="btn btn-xs btn-success">使用</button> -->
              <button class="btn btn-xs btn-danger" (click)="deleteTemplate(item.id)">删除</button>
            </td>
          </tr>
        </tbody>
      </table>
      <form class="pagination-wrapper">
        <div class="form-group pages">
          <pagination-controls class="my-pagination" id="pager" (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true"
            autoHide="true" previousLabel="上一页" nextLabel="下一页" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
            screenReaderCurrentLabel="You're on page">
          </pagination-controls>
        </div>
        <div class="form-group options pages">
          <div class="input-group input-group-sm">
            <select class="form-control" style="height:35px" name="pageChangedName" [(ngModel)]="PageInfo.pageSize" (ngModelChange)="onQuery()">
              <option>1</option>
              <option>5</option>
              <option>10</option>
              <option>20</option>
              <option>50</option>
              <option>100</option>
              <option>200</option>
            </select>
            <span class="input-group-addon addon-right">条/页</span>
            <span class="input-group-addon addon-right">共{{PageInfo.totalCount}}条数据</span>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <div class="btn-group">
        <button class="btn btn-primary" (click)="closeModal()">关闭</button>
      </div>
    </div>
  </div>
</form>
