.head {
    padding: 5px 15px;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: center;
}

.mytitle {
    font-size: 18px;
    border-bottom: 1px solid white;
    color: white;
}

.pop-content {
    width: 100%;
    font-size: 14px;
}

.modal-body {
    color: white;
}

.submit {
    background-color: #c78100;
    border: 1px solid #c78100;
    color: whitesmoke;
}

.cancel {
    background-color: transparent;
    border: 1px solid whitesmoke;
    color: whitesmoke;
}

table thead tr th,
table tbody tr td {
    text-align: center;
    vertical-align: middle;
}

.none {
    display: none;
}