<app-search-head></app-search-head>
<div class="btn-box" >
  <div class="checkbox">
    <label class="checkbox-inline custom-checkbox nowrap">
      <input type="checkbox"><span>选中所有页</span>
    </label>
  </div>
  <div class="searchPart gap">
    <div class="buttonpart">
      <button class="btn btn-primary" (click)="addClass1($event.target)">提前回传</button>
      <button class="btn btn-primary" (click)="addClass1($event.target)">分配物流方式</button>
      <button class="btn btn-primary" (click)="addClass1($event.target)">编辑订单信息</button>
      <button class="btn btn-primary" (click)="addClass1($event.target)">作废</button>
      <button class="btn btn-primary" (click)="addClass1($event.target)">重置</button>
      <button class="btn btn-primary" (click)="addClass1($event.target)">锁定</button>
      <button class="btn btn-primary" (click)="addClass1($event.target)">标记退款</button>
    </div>
  </div>
</div>
<app-table></app-table>
