<div class="pop-content animated fadeIn">
  <div class="modal-header">
    <span class="modal-title">查看全部SKU</span>
  </div>
  <div class="modal-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>SKU名称</th>
          <th>SKUCode</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1688地摊货源热卖跑江湖 儿童加绒连帽卫衣套装阿里外贸童装批发</td>
          <td>DMT242345111</td>
        </tr>
        <tr>
          <td>1688地摊货源热卖跑江湖 儿童加绒连帽卫衣套装阿里外贸童装批发</td>
          <td>DMT242345111</td>
        </tr>
        <tr>
          <td>1688地摊货源热卖跑江湖 儿童加绒连帽卫衣套装阿里外贸童装批发</td>
          <td>DMT242345111</td>
        </tr>
        <tr>
          <td>1688地摊货源热卖跑江湖 儿童加绒连帽卫衣套装阿里外贸童装批发</td>
          <td>DMT242345111</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <div class="btn-group">
      <button class="btn btn-primary" (click)="closeModal()">关闭</button>
    </div>
  </div>
</div>
