.pagination-wrapper .pages{margin: 0;}
.out{background: #00ABFF!important;border-color:#00ABFF!important;cursor: pointer;}
table thead tr th,table{text-align: center;color: white;vertical-align: middle;font-size: 14px;}
table thead tr th{padding:8px;width: 16%}
table tbody tr td:last-child button{margin:3px 0;}
.none{text-align: center;font-size: 20px;}
