.pop-content {
    width: 500px;
    height: 400px;
    background: -webkit-linear-gradient(to right, #5391C9, #5782BD);
    background: linear-gradient(to right, #5391C9, #5782BD);
    margin: -5px;
    color: #fff;
    font-size: 20px;
    position: relative;
}