.pop-content {
    width: 800px;
    margin-left: -200px;
    padding: 5px;
    overflow: hidden;
    .modal-body {
        h3 {
            font-size: 15px;
            margin-bottom: 10px;
        }
        .checkbox {
            width: 100%;
            height: 30px;
        }
        .output-screen {
            margin: 10px 20px 10px 0;
        }
    }
}