.permissions {
  margin-bottom: 5px;
  color: #ffffff;
  font-weight: 400;
  font-size: 13px;
}

.opeation-pannel {
  border: 2px solid #e3e3e3;
  background-color: #5E8579;
  //background-color: #a79674;
}
