.pop-content{
    width:500px;
    .modal-body{
        ul{
            padding:0;
            li{
                list-style: none;
                margin-bottom:10px;
            }
        }
    }
}