<div class=".col-md-8 card card-block">
  <div class="tab-header">
    <ul>
      <li (click)="tabChange(true)" [class.tab-selected]="!tabChanged">正在回传</li>
      <li (click)="tabChange(false)" [class.tab-selected]="tabChanged">提前回传</li>
    </ul>
  </div>
  <div class="tab-body" *ngIf="!tabChanged">
    <span class="desc">
      <span class="explain">说明</span>这里可以看到正在回传的订单。 其中「等待回传」的系统会自动帮您回传，如果特别急，您也可以在列表中手动回传； 显示回传失败的，您可以根据失败的提示原因修改回传内容或重新尝试回传。</span>
    <div class=".col-md-8 card card-block search-wrapper" >
      <!--*ngFor="let screen of screen"-->
      <ul class="search-condition">
        <li>
          <label class="search-title">销售渠道：</label>
          <div class="screen-wrapper" *ngFor="let channel of supportChannelTypes;let i = index">
            <input type="radio" id="channel-{{channel.code}}" name="channel" class="regular-radio" [checked]="i === 0" />
            <label for="channel-{{channel.code}}" (click)="onSelectChannelType(channel.code)">{{channel.displayName}}</label>
            <span class="num-bubble" *ngIf="displaynum">4642</span>
          </div>
          <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn" (click)="seekMode(0)" [ngClass]="{'btn-primary':!seekmode,'btn-default':seekmode}">筛选</button>
            <button type="button" class="btn" (click)="seekMode(1)" [ngClass]="{'btn-primary':seekmode,'btn-default':!seekmode}">搜索</button>
          </div>
        </li>
        <li *ngIf="isShowChannelAccount('Amazon')">
          <label class="search-title">Amazon账号：</label>
          <div class="screen-wrapper">
            <input type="radio" id="amazon-all" name="amazon" class="regular-radio" checked/>
            <label for="amazon-all" (click)="onSelectChannelId('')">所有</label>
          </div>
          <div class="screen-wrapper" *ngFor="let amazon of amazonAccounts;">
            <input type="radio" id="amazon-{{amazon.channelId}}" name="amazon" class="regular-radio" />
            <label for="amazon-{{amazon.channelId}}" (click)="onSelectChannelId(amazon.channelId)">{{amazon.displayName}}</label>
          </div>
        </li>
      </ul>
      <ul class="search-condition" *ngIf="!seekmode && searchMore">
        <li>
          <label class="search-title">回传状态：</label>
          <div class="screen-wrapper" *ngFor="let status of completeSalesStatus;let i = index">
            <input type="radio" id="status-{{status.value}}" name="status" class="regular-radio" [checked]="i === 0" />
            <label for="status-{{status.value}}" (click)="onselectedCompleteSalesStatus(status.value)">{{status.text}}</label>
          </div>
        </li>
        <li>
          <label class="search-title">收件国家：</label>
          <div class="screen-wrapper" *ngFor="let county of supportFilterCountries;let i = index">
            <input type="radio" id="county-{{county.value}}" name="county" class="regular-radio" [checked]="i === 0" />
            <label for="county-{{county.value}}" (click)="onSelectCountry(county.value)">{{county.text}}</label>
          </div>
        </li>
        <li>
          <label class="search-title">时段筛选：</label>
          <div class="screen-wrapper" *ngFor="let timeScreen of suppprtSearchTimeTypes;let i = index">
            <input type="radio" id="timeScreen{{timeScreen.value}}" name="timeScreen" class="regular-radio" [checked]="i === 0" />
            <label for="timeScreen{{timeScreen.value}}" (click)="onSelectTimeSearchType(timeScreen.value)">{{timeScreen.text}}</label>
          </div>
        </li>
        <li>
          <label class="search-title"></label>
          <div class="screen-wrapper" *ngFor="let time of suppprtTimeValueTypes;let i = index">
            <input type="radio" id="search-time{{time.value}}" name="time" class="regular-radio" [checked]="i === 0" />
            <label for="search-time{{time.value}}" (click)="onSelectTimeValueType(time.value)">{{time.text}}</label>
          </div>
          <span *ngIf="selectedTimeValueType == 'Custom'">
          <span class="datePick-wrap">
            <span class="datePick">
              <ng-datepicker [(ngModel)]="timeSearchStart" [options]="DatepickerOptions"></ng-datepicker>
            </span>
          </span>
          -
          <span class="datePick-wrap">
            <span class="datePick">
              <ng-datepicker [(ngModel)]="timeSearchEnd" [options]="DatepickerOptions"></ng-datepicker>
              <button class="btn btn-sm btn-primary" (click)="doTimeSearch()">确定</button>
            </span>
          </span>
        </span>
        </li>
      </ul>
      <ul class="search-condition" *ngIf="seekmode">
        <li>
          <label class="search-title">搜索类型：</label>
          <div class="screen-wrapper" *ngFor="let searchType of suppprtSearchTypes;let i = index">
            <input type="radio" id="searchType-{{searchType.value}}" name="searchType" class="regular-radio" [checked]="i === 0" />
            <label for="searchType-{{searchType.value}}" (click)="onSelectSearchType(searchType.value)">{{searchType.text}}</label>
          </div>
        </li>
        <li>
          <label class="search-title">搜索内容：</label>
          <input type="text" class="form-control with-primary-addon search-input" [(ngModel)]="searchText" placeholder="双击可批量查询" (dblclick)="ModalState()">
          <button class="btn btn-primary" (click)="doSearch()">搜索</button>
        </li>
      </ul>
      <div class="btn-group search-more" role="group" aria-label="..." *ngIf="!seekmode">
        <button class="btn btn-primary" [innerHtml]="!searchMore?'高级筛选':'收起'" (click)="SearchMore()">
        </button>
        <button type="button" class="btn btn-primary" (click)="DisplayNum()">显示数量</button>
      </div>
    </div>
    <div class="batch-modal" *ngIf="modalstate">
      <div class="pop-content">
        <div class="modal-header">
          <h3>批量查询</h3>
          <a href="javascript:;" (click)="ModalState()">
            <i class="ion-close-round"></i>
          </a>
        </div>
        <form>
          <label class="radio-inline custom-radio nowrap">
            <input type="radio" name="batchSearchOption" id="inlineRadio3" value="OrderNumber" (click)="onSelectdoOrederBatchSearchType($event.target.value)"
                   checked>
            <span>按订单编号</span>
          </label>
          <label class="radio-inline custom-radio nowrap">
            <input type="radio" name="batchSearchOption" id="inlineRadio3" value="BuyName" (click)="onSelectdoOrederBatchSearchType($event.target.value)">
            <span>按客户姓名</span>
          </label>
          <!-- <label class="radio-inline custom-radio nowrap">
            <input type="radio" name="batchSearchOption" id="inlineRadio3" value="InTrackingNumber" (click)="onSelectdoOrederBatchSearchType($event.target.value)">
            <span>按内部跟踪号</span>
          </label> -->
          <label class="radio-inline custom-radio nowrap">
            <input type="radio" name="batchSearchOption" id="inlineRadio3" value="TrackingNumber" (click)="onSelectdoOrederBatchSearchType($event.target.value)">
            <span>按跟踪号</span>
          </label>
          <label class="modal-desc">每行一个（支持excel复制粘贴）</label>
          <textarea name="orderBatchSearch" id="" cols="60" rows="10" [(ngModel)]="orderBatchsearchText"></textarea>
          <div class="modal-footer">
            <div class="btn-group">
              <button class="btn btn-sm btn-default" type="button" (click)="ModalState()">关闭</button>
              <button class="btn btn-sm btn-primary" type="submit" (click)="doOrderBatchSearch()">确定</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="btn-box">
      <div class="checkbox">
        <label class="checkbox-inline custom-checkbox nowrap">
          <input type="checkbox" [checked]="isCheckAllPages" (change)="onCheclAllPageChange($event.target.checked)">
          <span>选中所有页</span>
        </label>
      </div>
      <button type="button" class="btn btn-primary" (click)="NoComesBack($event.target)">不再回传</button>
      <span class="desc">如果您已在交易平台上直接填写了发货信息，可以将它们设置为不再回传。</span>
    </div>
    <div class="clearfix"></div>
    <form class="pagination-wrapper">
      <div class="form-group pages">
        <pagination-controls class="my-pagination" id="pager" (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true"
          autoHide="true" previousLabel="上一页" nextLabel="下一页" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
          screenReaderCurrentLabel="You're on page">
        </pagination-controls>
      </div>
      <div class="form-group options pages">
        <div class="input-group input-group-sm">
          <select class="form-control" name="pageChangedName" [(ngModel)]="pageSize" (ngModelChange)="loadData()">
            <option>1</option>
            <option>5</option>
            <option>10</option>
            <option>20</option>
            <option>50</option>
            <option>100</option>
            <option>200</option>
          </select>
          <span class="input-group-addon addon-right">条/页</span>
          <span class="input-group-addon addon-right">共{{total}}条数据</span>
        </div>
      </div>
    </form>
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>
            <label class="checkbox-inline custom-checkbox nowrap">
              <input type="checkbox" [checked]="selectOrderIds.length == items.length && items.length > 0" (change)="onCheckAllOrderChanged($event.target.checked)">
              <span></span>
            </label>
          </th>
          <th>订单号</th>
          <th>付款时间</th>
          <th>发货时间</th>
          <th>物流方式</th>
          <th>跟踪号</th>
          <th width="30%">回传状态</th>
          <th width="100px">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let info of items | paginate: { id: 'pager',
          itemsPerPage: pageSize,
          currentPage: pageNumber,
          totalItems: total};let i = index">
          <td>
            <label class="checkbox-inline custom-checkbox nowrap">
              <input type="checkbox" [checked]="selectOrderIds.indexOf(info.id) >= 0" (change)="onCheckOrderChanged($event.target.checked, info.id)"
              />
              <span></span>
            </label>
          </td>
          <td>
            <a href="javascript:;" class="order-id" (click)="openModal(info.id)">{{info.orderNumber}}</a>
          </td>
          <td>{{info.paidTime  | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}}</td>
          <td>{{info.shippedTime  | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}}</td>
          <td>{{info.shippingService}}</td>
          <td>{{info.trackingNumber}}</td>
          <td *ngIf="selectedCompleteSalesStatus!=null">Code:{{info.failedReasonCode}},Message:{{info.failedReasonMessage}}</td>
          <td *ngIf="selectedCompleteSalesStatus==null">等待回传</td>
          <td>
            <a href="javascript:;" class="edit-btn" (click)="openBackInfoModal(info.id)">
              <i class="ion-compose"></i>
              <span>修改回传信息</span>
            </a>
            <a href="javascript:;" class="edit-btn">
              <i class="ion-ios-close-outline"></i>
              <span (click)="OrderNoPostBack(info.id)">不再回传</span>
            </a>
          </td>
        </tr>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
    <form class="pagination-wrapper">
      <div class="form-group pages">
        <pagination-controls class="my-pagination" id="pager" (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true"
          autoHide="true" previousLabel="上一页" nextLabel="下一页" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
          screenReaderCurrentLabel="You're on page">
        </pagination-controls>
      </div>
      <div class="form-group options pages">
        <div class="input-group input-group-sm">
          <select class="form-control" name="pageChangedName" [(ngModel)]="pageSize" (ngModelChange)="loadData()">
            <option>1</option>
            <option>5</option>
            <option>10</option>
            <option>20</option>
            <option>50</option>
            <option>100</option>
            <option>200</option>
          </select>
          <span class="input-group-addon addon-right">条/页</span>
          <span class="input-group-addon addon-right">共{{total}}条数据</span>
        </div>
      </div>
    </form>
  </div>
  <div class="tab-body" *ngIf="tabChanged">
    <span class="desc">
      <span class="explain">说明</span>这里可以看到正在回传的订单。 其中「等待回传」的系统会自动帮您回传，如果特别急，您也可以在列表中手动回传； 显示回传失败的，您可以根据失败的提示原因修改回传内容或重新尝试回传。</span>
    <div class=".col-md-8 card card-block search-wrapper" >
      <!--*ngFor="let screen of screen"-->
      <ul class="search-condition">
        <li>
          <label class="search-title">销售渠道：</label>
          <div class="screen-wrapper" *ngFor="let channel of supportChannelTypes;let i = index">
            <input type="radio" id="channel-{{channel.code}}" name="channel" class="regular-radio" [checked]="i === 0" />
            <label for="channel-{{channel.code}}" (click)="onSelectChannelType(channel.code)">{{channel.displayName}}</label>
            <span class="num-bubble" *ngIf="displaynum">4642</span>
          </div>
          <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn" (click)="seekMode(0)" [ngClass]="{'btn-primary':!seekmode,'btn-default':seekmode}">筛选</button>
            <button type="button" class="btn" (click)="seekMode(1)" [ngClass]="{'btn-primary':seekmode,'btn-default':!seekmode}">搜索</button>
          </div>
        </li>
        <li *ngIf="isShowChannelAccount('Amazon')">
          <label class="search-title">Amazon账号：</label>
          <div class="screen-wrapper">
            <input type="radio" id="amazon-all" name="amazon" class="regular-radio" checked/>
            <label for="amazon-all" (click)="onSelectChannelId('')">所有</label>
          </div>
          <div class="screen-wrapper" *ngFor="let amazon of amazonAccounts;">
            <input type="radio" id="amazon-{{amazon.channelId}}" name="amazon" class="regular-radio" />
            <label for="amazon-{{amazon.channelId}}" (click)="onSelectChannelId(amazon.channelId)">{{amazon.displayName}}</label>
          </div>
        </li>
      </ul>
      <ul class="search-condition" *ngIf="!seekmode && searchMore">
        <!--<li>-->
          <!--<label class="search-title">回传状态：</label>-->
          <!--<div class="screen-wrapper" *ngFor="let status of completeSalesStatus2;let i = index">-->
            <!--<input type="radio" id="status-{{status.value}}" name="status" class="regular-radio" [checked]="i === 0" />-->
            <!--<label for="status-{{status.value}}" (click)="onselectedCompleteSalesStatus2(status.value)">{{status.text}}</label>-->
          <!--</div>-->
        <!--</li>-->
        <li>
          <label class="search-title">收件国家：</label>
          <div class="screen-wrapper" *ngFor="let county of supportFilterCountries;let i = index">
            <input type="radio" id="county-{{county.value}}" name="county" class="regular-radio" [checked]="i === 0" />
            <label for="county-{{county.value}}" (click)="onSelectCountry(county.value)">{{county.text}}</label>
          </div>
        </li>
        <li>
          <label class="search-title">时段筛选：</label>
          <div class="screen-wrapper" *ngFor="let timeScreen of suppprtSearchTimeTypes;let i = index">
            <input type="radio" id="timeScreen{{timeScreen.value}}" name="timeScreen" class="regular-radio" [checked]="i === 0" />
            <label for="timeScreen{{timeScreen.value}}" (click)="onSelectTimeSearchType(timeScreen.value)">{{timeScreen.text}}</label>
          </div>
        </li>
        <li>
          <label class="search-title"></label>
          <div class="screen-wrapper" *ngFor="let time of suppprtTimeValueTypes;let i = index">
            <input type="radio" id="search-time{{time.value}}" name="time" class="regular-radio" [checked]="i === 0" />
            <label for="search-time{{time.value}}" (click)="onSelectTimeValueType(time.value)">{{time.text}}</label>
          </div>
          <span *ngIf="selectedTimeValueType == 'Custom'">
          <span class="datePick-wrap">
            <span class="datePick">
              <ng-datepicker [(ngModel)]="timeSearchStart" [options]="DatepickerOptions"></ng-datepicker>
            </span>
          </span>
          -
          <span class="datePick-wrap">
            <span class="datePick">
              <ng-datepicker [(ngModel)]="timeSearchEnd" [options]="DatepickerOptions"></ng-datepicker>
              <button class="btn btn-sm btn-primary" (click)="doTimeSearch()">确定</button>
            </span>
          </span>
        </span>
        </li>
      </ul>
      <ul class="search-condition" *ngIf="seekmode">
        <li>
          <label class="search-title">搜索类型：</label>
          <div class="screen-wrapper" *ngFor="let searchType of suppprtSearchTypes;let i = index">
            <input type="radio" id="searchType-{{searchType.value}}" name="searchType" class="regular-radio" [checked]="i === 0" />
            <label for="searchType-{{searchType.value}}" (click)="onSelectSearchType(searchType.value)">{{searchType.text}}</label>
          </div>
        </li>
        <li>
          <label class="search-title">搜索内容：</label>
          <input type="text" class="form-control with-primary-addon search-input" [(ngModel)]="searchText" placeholder="双击可批量查询" (dblclick)="ModalState()">
          <button class="btn btn-primary" (click)="doSearch()">搜索</button>
        </li>
      </ul>
      <div class="btn-group search-more" role="group" aria-label="..." *ngIf="!seekmode">
        <button class="btn btn-primary" [innerHtml]="!searchMore?'高级筛选':'收起'" (click)="SearchMore()">
        </button>
        <button type="button" class="btn btn-primary" (click)="DisplayNum()">显示数量</button>
      </div>
    </div>
    <div class="batch-modal" *ngIf="modalstate">
      <div class="modal-content">
        <div class="modal-header">
          <h3>批量查询</h3>
          <a href="javascript:;" (click)="ModalState()">
            <i class="ion-close-round"></i>
          </a>
        </div>
        <form>
          <label class="radio-inline custom-radio nowrap">
            <input type="radio" name="batchSearchOption" id="inlineRadio3" value="OrderNumber" (click)="onSelectdoOrederBatchSearchType($event.target.value)"
                   checked>
            <span>按订单编号</span>
          </label>
          <label class="radio-inline custom-radio nowrap">
            <input type="radio" name="batchSearchOption" id="inlineRadio3" value="BuyName" (click)="onSelectdoOrederBatchSearchType($event.target.value)">
            <span>按客户姓名</span>
          </label>
          <label class="radio-inline custom-radio nowrap">
            <input type="radio" name="batchSearchOption" id="inlineRadio3" value="InTrackingNumber" (click)="onSelectdoOrederBatchSearchType($event.target.value)">
            <span>按内部跟踪号</span>
          </label>
          <label class="radio-inline custom-radio nowrap">
            <input type="radio" name="batchSearchOption" id="inlineRadio3" value="TrackingNumber" (click)="onSelectdoOrederBatchSearchType($event.target.value)">
            <span>按外部跟踪号</span>
          </label>
          <label class="modal-desc">每行一个（支持excel复制粘贴）</label>
          <textarea name="orderBatchSearch" id="" cols="60" rows="10" [(ngModel)]="orderBatchsearchText"></textarea>
          <div class="modal-footer">
            <input type="button" value="取消" class="btn btn-default" (click)="ModalState()">
            <input type="submit" value="确定" class="btn btn-primary" (click)="doOrderBatchSearch()">
          </div>
        </form>
      </div>
    </div>
    <div class="btn-box">
      <div class="checkbox">
        <label class="checkbox-inline custom-checkbox nowrap">
          <input type="checkbox" [checked]="isCheckAllPages" (change)="onCheclAllPageChange($event.target.checked)">
          <span>选中所有页</span>
        </label>
      </div>
      <button type="button" class="btn btn-default" (click)="AdvanceBackComesBack($event.target)">批量提前回传</button>
    </div>
    <div class="clearfix"></div>
    <form class="pagination-wrapper">
      <div class="form-group pages">
        <pagination-controls class="my-pagination" id="pager2" (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true"
          autoHide="true" previousLabel="上一页" nextLabel="下一页" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
          screenReaderCurrentLabel="You're on page">
        </pagination-controls>
      </div>
      <div class="form-group options pages">
        <div class="input-group input-group-sm">
          <select class="form-control" name="pageChangedName" [(ngModel)]="pageSize" (ngModelChange)="loadData()">
            <option>1</option>
            <option>5</option>
            <option>10</option>
            <option>20</option>
            <option>50</option>
            <option>100</option>
            <option>200</option>
          </select>
          <span class="input-group-addon addon-right">条/页</span>
          <span class="input-group-addon addon-right">共{{total}}条数据</span>
        </div>
      </div>
    </form>
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>
            <label class="checkbox-inline custom-checkbox nowrap">
              <input type="checkbox" [checked]="selectOrderIds.length == items.length && items.length > 0" (change)="onCheckAllOrderChanged($event.target.checked)">
              <span></span>
            </label>
          </th>
          <th>订单号</th>
          <th>寄往国家</th>
          <th>付款时间</th>
          <th>物流方式</th>
          <th>跟踪号</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let info2 of items | paginate: { id: 'pager2',
          itemsPerPage: pageSize,
          currentPage: pageNumber,
          totalItems: total};let i = index">
          <td>
            <label class="checkbox-inline custom-checkbox nowrap">
              <input type="checkbox" [checked]="selectOrderIds.indexOf(info2.id) >= 0" (change)="onCheckOrderChanged($event.target.checked, info2.id)"
              />
              <span></span>
            </label>
          </td>
          <td>
            <a href="javascript:;" class="order-id" (click)="openModal(info.id)">{{info2.orderNumber}}</a>
          </td>
          <td>{{info2.countryCnName}}</td>
          <td>{{info2.paidTime | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}}</td>
          <td>{{info2.shippingService}}</td>
          <td>{{info2.trackingNumber}}</td>
          <td>
            <a href="javascript:;" class="edit-btn">
              <i class="ion-android-checkmark-circle"></i>
              <span (click)="AdvanceBackComesBackSingle(info2.id)">提前回传</span>
            </a>
          </td>
        </tr>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
    <form class="pagination-wrapper">
      <div class="form-group pages">
        <pagination-controls class="my-pagination" id="pager2" (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true"
          autoHide="true" previousLabel="上一页" nextLabel="下一页" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
          screenReaderCurrentLabel="You're on page">
        </pagination-controls>
      </div>
      <div class="form-group options pages">
        <div class="input-group input-group-sm">
          <select class="form-control" name="pageChangedName" [(ngModel)]="pageSize" (ngModelChange)="loadData()">
            <option>1</option>
            <option>5</option>
            <option>10</option>
            <option>20</option>
            <option>50</option>
            <option>100</option>
            <option>200</option>
          </select>
          <span class="input-group-addon addon-right">条/页</span>
          <span class="input-group-addon addon-right">共{{total}}条数据</span>
        </div>
      </div>
    </form>
  </div>
</div>
