<div class="pop-content animated fadeIn">
  <div class="modal-header">
    <h3 class="modal-title">设置运费规则</h3>
    <button type="button" class="close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body clearfix">
    <form>
      <ul class="newselect-list">
        <li>
          <label class="list-label">物流方式名称:{{ssName}}</label>
        </li>
        <li>
          <button class="btn btn-default" (click)="openAddModal()">新增规则</button>
        </li>
      </ul>
    </form>
    <form class="pagination-wrapper">
      <div class="form-group pages">
        <pagination-controls class="my-pagination" id="pagerX" (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true"
          autoHide="true" previousLabel="上一页" nextLabel="下一页" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
          screenReaderCurrentLabel="You're on page">
        </pagination-controls>
      </div>
      <div class="form-group options pages">
        <div class="input-group input-group-sm">
          <select class="form-control" name="pageChangedName" [(ngModel)]="pageSize" (ngModelChange)="load()">
            <option>1</option>
            <option>5</option>
            <option>10</option>
            <option>20</option>
            <option>50</option>
            <option>100</option>
            <option>200</option>
          </select>
          <span class="input-group-addon addon-right">条/页</span>
          <span class="input-group-addon addon-right">共{{total}}条</span>
        </div>
      </div>
    </form>
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>运费规则名称</th>
          <th width="570px">国家</th>
          <th width="170px">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items|paginate: { id: 'pagerX',
              itemsPerPage: pageSize,
              currentPage: pageNumber,
              totalItems: total}">
          <td>{{item.name}}</td>
          <td class="country-codes">{{item.countryCodes}}</td>
          <td>
            <a href="javascript:;" class="edit-btn" (click)="openEditModal(item.id)">
              <i class="ion-compose"></i>
              <span>编辑</span>
            </a>
            <a href="javascript:;" class="edit-btn" (click)="deleteShippingFeeRule(item.id)">
              <i class="ion-trash-a"></i>
              <span>删除</span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <form class="pagination-wrapper custom-pager-wraper" *ngIf="pageSize>=20&&total>20">
      <div class="form-group pages">
        <pagination-controls class="my-pagination" id="pagerX" (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true"
          autoHide="true" previousLabel="上一页" nextLabel="下一页" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
          screenReaderCurrentLabel="You're on page">
        </pagination-controls>
      </div>
      <div class="form-group options pages">
        <div class="input-group input-group-sm">
          <select class="form-control" name="pageChangedName" [(ngModel)]="pageSize" (ngModelChange)="load()">
            <option>1</option>
            <option>5</option>
            <option>10</option>
            <option>20</option>
            <option>50</option>
            <option>100</option>
            <option>200</option>
          </select>
          <span class="input-group-addon addon-right">条/页</span>
          <span class="input-group-addon addon-right">共{{total}}条</span>
        </div>
      </div>
    </form>
    <div class="btn-group custom-btn-group">
      <button class="btn btn-sm btn-primary" (click)="closeModal()">关闭</button>
    </div>
  </div>
</div>
