.btn-default {
    margin: 10px 0;
}

.modal {
    .modal-content {
        background: -webkit-linear-gradient(to right, #5391C9, #5782BD);
        background: linear-gradient(to right, #5391C9, #5782BD);
    }
}

ul {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
        margin: 10px 0;
    }
}