<form id="form3" >
  <div class="pop-content">
    <div class="modal-header head">
      <h4 class="modal-title mytitle">{{modalHeader}}
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </h4>
    </div>
    <div class="modal-body">
      <ul class="search-condition">
        <li>
          <label class="search-title">搜索SKUCode：</label>
          <div class="input-group">
            <input type="text" class="form-control" style="color:white;" [(ngModel)]="searchText" name="searchText" (keyup.enter)="doSearch()">
            <div class="btn-group">
              <button type="button" class="btn btn-primary" (click)="doSearch()">搜索</button>
            </div>
          </div>
        </li>
      </ul>
      <p>
        <span style="margin-right: 15px;">拣货人：{{empName}}</span>
        <span>编号：{{picknumber}}</span>
      </p>
      <form class="pagination-wrapper">
        <div class="form-group pages">
          <pagination-controls class="my-pagination" id="pager" (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true"
                               autoHide="true" previousLabel="上一页" nextLabel="下一页" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                               screenReaderCurrentLabel="You're on page">
          </pagination-controls>
        </div>
        <div class="form-group options pages">
          <div class="input-group input-group-sm">
            <select class="form-control not-allow" disabled name="pageChangedName" [(ngModel)]="PageInfo.pageSize" (ngModelChange)="OnQuery()">
              <option>1</option>
              <option>5</option>
              <option>10</option>
              <option>20</option>
              <option>50</option>
              <option>100</option>
              <option>200</option>
            </select>
            <span class="input-group-addon addon-right">条/页</span>
            <span class="input-group-addon addon-right">共{{PageInfo.totalCount}}条</span>
          </div>
        </div>
      </form>
      <table class="table table-hover table-bordered">
        <thead>
        <tr class="black-muted-bg">
          <th>SkuCode</th>
          <th>库位</th>
          <th>数量</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of skus|paginate: { id: 'pager',
                                                      itemsPerPage: PageInfo.pageSize,
                                                      currentPage: PageInfo.pageIndex,
                                                      totalItems: PageInfo.totalCount};let index=index">
          <td>{{item.skuCode}}</td>
          <td>{{item.location}}</td>
          <td>{{item.quantity}}</td>
          <td>
            <button class="btn btn-sm btn-danger" *ngIf="(item.status!='Recalled')&&(item.pickingPackType=='SingleSkuOneItem')" (click)="confirmNum(item.quantity,item.skuId,item.packageId)">标记拣货失败</button>
            <span *ngIf="(item.status=='Recalled')&&(item.pickingPackType=='SingleSkuOneItem')"><span class="red-text">捡货失败</span>： 实拣<span class="red-text fa-2x magRL">{{item.pickQuantity}}</span>,缺<span class="red-text fa-2x magRL">{{item.lackQuantity}}</span></span>
            <span *ngIf="item.pickingPackType!='SingleSkuOneItem'">无</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-sm pull-right cancel" (click)="closeModal()">取消</button>
    </div>
  </div>
</form>
