.pop-content{
    width:750px;
    margin-left:-50px;
    .modal-body{
        .card{
            float: left;
            width:49%;
            height:400px;
            margin:0 .5%;
        }
        ul{
            padding:0;
            li{
                margin:20px 0;
            }
        }
    }
}