<div class=".col-md-8 card card-block search-wrapper">
  <ul class="search-condition">
    <li>
      <label class="search-title">仓库选择：</label>
      <div class="screen-wrapper" *ngFor="let types of allWarehouses;let i = index">
        <input type="radio" id="{{types.name}}" name="storage" class="regular-radio" [checked]="i === 0" />
        <label for="{{types.name}}" (click)="onWarehouseSelect(types.warehouseId)">{{types.name}}</label>
      </div>
    </li>
    <li>
      <label class="search-title">平台筛选：</label>
      <div class="screen-wrapper" *ngFor="let p of plateForm;let i = index">
        <input type="radio" id="{{p.text}}i" name="plateForm" class="regular-radio" [checked]="i === 0" />
        <label for="{{p.text}}i" (click)="onPlateformSelect(p.id)">{{p.text}}</label>
      </div>
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn" (click)="seekMode(0)" [ngClass]="{'btn-primary':!seekmode,'btn-default':seekmode}">筛选
        </button>
        <button type="button" class="btn" (click)="seekMode(1)" [ngClass]="{'btn-primary':seekmode,'btn-default':!seekmode}">搜索
        </button>
      </div>
    </li>
    <li>
      <label class="search-title">账号筛选：</label>
      <select2 class="country-select" [data]="accountItems" [options]="select2Options" [width]="300" [value]="defaultAccountVal" #accountSelect (valueChanged)="onChangeAccountChanged($event,accountSelect)"></select2>
    </li>
  </ul>
  <ul class="search-condition" *ngIf="!seekmode && searchMore===1">
    <li>
      <label class="search-title">物流方式：</label>
      <div class="screen-wrapper">
      <input type="radio" id="ShippingService-all" name="logistics" class="regular-radio" checked />
      <label for="ShippingService-all" (click)="onSelectShippingService(null)">全部</label>
      </div>
      <div class="screen-wrapper" *ngFor="let item of warehouseAllShippingService;let i = index">
      <input type="radio" id="{{item.ssid}}" name="logistics" class="regular-radio"  />
      <label for="{{item.ssid}}" (click)="onSelectShippingService(item.ssid)">{{item.name}}</label>
      </div>
      </li>
    <li>
      <label class="search-title">国家筛选：</label>
      <div class="screen-wrapper" *ngFor="let county of supportFilterCountries;let i = index">
        <input type="radio" id="county-{{county.value}}" name="county" class="regular-radio" [checked]="i === 0" />
        <label for="county-{{county.value}}" (click)="onSelectCountry(county.value)">{{county.text}}</label>
      </div>
    </li>

    <li>
      <label class="search-title">时段筛选：</label>
      <div class="screen-wrapper" *ngFor="let timeScreen of suppprtSearchTimeTypes;let i = index">
        <input type="radio" id="timeScreen{{timeScreen.value}}" name="timeScreen" class="regular-radio" [checked]="i === 0" />
        <label for="timeScreen{{timeScreen.value}}" (click)="onSelectTimeSearchType(timeScreen.value)">{{timeScreen.text}}</label>
      </div>
    </li>
    <li>
      <label class="search-title"></label>
      <div class="screen-wrapper" *ngFor="let time of suppprtTimeValueTypes;let i = index">
        <input type="radio" id="search-time{{time.value}}" name="time" class="regular-radio" [checked]="i === 0" />
        <label for="search-time{{time.value}}" (click)="onSelectTimeValueType(time.value)">{{time.text}}</label>
      </div>
      <span *ngIf="selectedTimeValueType == 'Custom'">
          <span class="datePick-wrap">
            <span class="datePick">
              <!--<ng-datepicker [(ngModel)]="timeSearchStart" [options]="DatepickerOptions"></ng-datepicker>-->
              <div class="input-group" style="width: auto;">
                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="ngTimeSearchStart" ngbDatepicker #start="ngbDatepicker">
                <div class="input-group-addon" (click)="start.toggle()">
                  <i class="ion-android-calendar"></i>
                </div>
              </div>

            </span>
          </span>
          <span class="datePick-wrap">
            <span class="datePick">
              <ngb-timepicker [(ngModel)]="ngShortTimeStart" [seconds]="'true'"></ngb-timepicker>
            </span>
          </span>
          -
          <span class="datePick-wrap">
            <span class="datePick">
              <div class="input-group" style="width: auto;">
                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="ngTimeSearchEnd" ngbDatepicker #end="ngbDatepicker">
                <div class="input-group-addon" (click)="end.toggle()">
                  <i class="ion-android-calendar"></i>
                </div>
              </div>
            </span>
          </span>

          <span class="datePick-wrap">
            <span class="datePick">
              <ngb-timepicker [(ngModel)]="ngShortTimeEnd" [seconds]="'true'"></ngb-timepicker>
            </span>
          </span>

          <button class="btn btn-sm btn-primary" (click)="doTimeSearch()">确定</button>
        </span>
    </li>
  </ul>
  <ul class="search-condition" *ngIf="seekmode">
    <li>
      <label class="search-title">搜索类型：</label>
      <div class="screen-wrapper" *ngFor="let searchType of suppprtSearchTypes;let i = index">
        <input type="radio" id="searchType-{{searchType.value}}" name="searchType" class="regular-radio" [checked]="i === 0" />
        <label for="searchType-{{searchType.value}}" (click)="onSelectSearchType(searchType.value)">{{searchType.text}}</label>
      </div>
    </li>
    <li>
      <label class="search-title">搜索内容：</label>
      <div class="input-group">
        <input type="text" class="form-control with-primary-addon search-input" [(ngModel)]="searchText">
        <button class="btn btn-primary" (click)="doSearch()">搜索</button>
      </div>
    </li>
  </ul>
  <div class="btn-group search-more" role="group" aria-label="..." *ngIf="!seekmode">
    <button class="btn btn-primary" [innerHtml]="!searchMore?'高级筛选':'收起'" (click)="SearchMore()">
    </button>
  </div>
</div>
<div>
<div class="btn-box">
  <div class="checkbox">
    <label class="checkbox-inline custom-checkbox nowrap">
      <input type="checkbox" [checked]="isCheckAllPages" (change)="onCheclAllPageChange($event.target.checked)"><span>选中所有页</span>
    </label>
  </div>
  <form id="out-put" method="post">
    <input type="hidden" name="OrderIds" class="hidden-text" id="package-id-text">
    <input type="hidden" name="token" class="hidden-text" id="token-text">
  </form>
  <button class="btn btn-primary" (click)="openOutputModal()">导出</button>
  <button class="btn btn-primary" (click)="ResetOrder()">重置</button>
  <button class="btn btn-primary" (click)="VoidedOrder()">作废</button>
  <button class="btn btn-primary" (click)="LockOrder()">锁定</button>
</div>
<form class="pagination-wrapper">
  <div class="form-group pages">
    <pagination-controls class="my-pagination" id="pager"
                         (pageChange)="pageChanged($event)"
                         maxSize="9"
                         directionLinks="true"
                         autoHide="true"
                         previousLabel="上一页"
                         nextLabel="下一页"
                         screenReaderPaginationLabel="Pagination"
                         screenReaderPageLabel="page"
                         screenReaderCurrentLabel="You're on page">
    </pagination-controls>
  </div>
  <div class="form-group options pages">
    <div class="input-group input-group-sm">
      <select class="form-control" name="pageChangedName" [(ngModel)]="pageSize" (ngModelChange)="loadData()">
        <option>5</option>
        <option>10</option>
        <option>20</option>
        <option>50</option>
        <option>100</option>
        <option>200</option>
      </select>
      <span class="input-group-addon addon-right">条/页</span>
      <span class="input-group-addon addon-right">共{{total}}条</span>
    </div>
  </div>
</form>
<table class="table table-hover table-bordered">
  <thead>
  <tr>
    <th>
      <label class="checkbox-inline custom-checkbox nowrap">
        <input type="checkbox" [checked]="selectPackageIds.length == items.length && items.length > 0"
               (change)="onCheckAllPackageChanged($event.target.checked)">
        <span></span>
      </label>
    </th>
    <!--<th>包裹号</th>-->
    <th>订单号</th>
    <th>订单内容</th>
    <!--<th>预估重量</th>-->
    <th>收件人</th>
    <th>国家</th>
    <th>物流方式</th>
    <th>订单状态</th>
    <th>
      <p>创建时间</p>
      <p>付款时间</p>
    </th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let orderInfo of items | paginate: { id: 'pager',
            itemsPerPage:pageSize,
            currentPage:pageNumber,
            totalItems:total};let i = index">
    <td>
      <label class="checkbox-inline custom-checkbox nowrap">
        <input type="checkbox" [checked]="selectPackageIds.indexOf(orderInfo.id) >= 0"
               (change)="onCheckPackageChanged($event.target.checked, orderInfo.id)"><span></span>
      </label>
    </td>
    <!--<td class="short-info">-->
      <!--<a href="javascript:;" class="packageNumber-text" (click)="openPackageDetailModal(orderInfo.id)">{{orderInfo.packageNumber}}</a>-->
    <!--</td>-->
    <td class="short-info">
      <a href="javascript:;" class="orderNumber-text" (click)="openOrderDetailModal(orderInfo.orderId)">{{orderInfo.orderNumber}}</a>
    </td>
    <td class="short-info">
            <span *ngFor="let orderdetailItem of orderInfo.items;let i = index" class="skucom">
              <span *ngIf="i != 0" class="skucom"> &nbsp;<br/> </span>
              {{orderdetailItem.skuCode}} *{{orderdetailItem.quantity}}
            </span>
    </td>
    <!--<td class="short-info">{{orderInfo.estimateWeight}}</td>-->
    <td class="short-info">{{orderInfo.buyerName}}</td>
    <td class="short-info">{{orderInfo.countryCode}}</td>
    <td class="short-info">{{orderInfo.shippingService}}</td>
    <td class="short-info">{{orderInfo.statusDesc}}</td>
    <td class="short-info">
      <p>{{orderInfo.createdTime| amLocal | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}}</p>
      <p>{{orderInfo.payTime| amLocal | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}}</p>
    </td>
    <td class="short-info">
      <a href="javascript:;" (click)="openOrderDetailModal(orderInfo.id)">详细</a>
    </td>
  </tr>
  </tbody>
</table>
</div>
