.head {
  border-bottom: 1px solid white;
  padding-bottom: 8px;
}

.tab-header {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, .4);
  ul {
    width: 100%;
    height: 100%;
    padding: 0;
    li {
      float: left;;
      width: 100px;
      height: 100%;
      margin: 0 10px 0 0;
      text-align: center;
      line-height: 40px;
      font-size: 17px;
      position: relative;
      color: rgba(255, 255, 255, .4);
      cursor: pointer;
      &:after {
        display: inline-block;
        content: '';
        position: absolute;
        width: 100px;
        left: 0;
        bottom: -3px;
        border: 3px solid rgba(255, 255, 255, 0);
        border-radius: 6px;
      }
      &:hover {
        color: #fff;
      }
    }
    .tab-selected {
      color: rgba(255, 255, 255, 1);
      &:after {
        border: 3px solid rgba(255, 255, 255, 1);
      }
    }
  }
}

.tab-header ul li {
  width: auto;
}

.tab-header ul li:nth-of-type(1):after {
  width: 200px;
}

.tab-header ul .search {
  float: right;
}

.search-more {
  text-align: center;
  color: #48A1FB;
  position: absolute;
  top: 99%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.4em;
  cursor: pointer;
}

.mgap > span {
  margin-right: 30px;
  margin-left: 5px;
}

.flex {
  display: flex;
  justify-content: center;
}

.icon {
  margin-right: 5px;
}

.search-condition {
  margin-bottom: 0;
  clear: both;
}

.mTop {
  margin-top: 15px;
}

.search-condition li > label {
  width: 100px !important;
}

//.search-condition li input[type='radio']{display: inline-block!important;}
.search-condition:first-child {
  border-bottom: none !important;
}

.input {
  padding: 5px 0;
  border-radius: 5px 0 0 5px;
  width: 250px;
  background: rgba(255, 255, 255, .2);
  border: 1px solid white;
  color: white;
}

.input:focus {
  outline-color: deepskyblue;
}

.search {
  margin-left: -5px
}

.search-condition {
  li {
    margin: 5px 0;
    line-height: 1em;
    .input-group {
      width: 400px;
      height: 30px;
    }
    .search-input {
      display: inline-block;
      margin-left: 0;
    }
  }
}
.table thead tr th p:nth-of-type(2){
  margin-bottom: 0;
}
.table tbody tr td {
  p{
    text-align: center;
  }
  p:first-of-type{
    margin-top: 10px;
  }
}


