<div class="card card-block">
  <h3>最后更新时间：2017/12/22 下午 13:58</h3>
  <div class="card card-block select-part">
    <div class="select">
      <div class="part-wrap">
        <span class="title">时间筛选：</span>
      </div>
      <div class="option-wrap">
        <span class="option" *ngFor="let item of orderTime" (click)="selectedordertimesearch=item.id"
              [ngClass]="{'tag':item.id==selectedordertimesearch}">{{item.text}}</span>
        <span class="option option-nobot" *ngIf="selectedordertimesearch==5">
                <ng-datepicker   [(ngModel)]="timeSearchStart"
                                 [options]="DatepickerOptions"></ng-datepicker>
              </span>
        <span class="option timegap option-nobot" *ngIf="selectedordertimesearch==5">~</span>
        <span class="option option-nobot" [ngClass]="{'unvisible':selectedordertimesearch!=5}">
                <ng-datepicker  [(ngModel)]="timeSearchEnd"
                                [options]="DatepickerOptions"></ng-datepicker>
              </span>
        <span class="option option-nobot">
                <button *ngIf="selectedordertimesearch==5" class="btn btn-primary"
                        (click)="OnUserSetTimeQuery()">确定</button>
              </span>
      </div>
    </div>
  </div>


      <form class="pagination-wrapper">
        <div class="form-group pages">
          <pagination-controls class="my-pagination" id="pager" (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true"
                               autoHide="true" previousLabel="上一页" nextLabel="下一页" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                               screenReaderCurrentLabel="You're on page">
          </pagination-controls>
        </div>
        <div class="to">
          <div class="topage">
            <p>跳至</p>
          </div>
          <div class="topage" style="width: 60px;">
            <div class="inputPage">
              <p>
                <input type="search" class="form-control" name="to"  (keyup.enter)="topage()">
              </p>
            </div>
          </div>
          <div class="topage">
            <p>页</p>
          </div>
          <div class="topage out" style="margin-left: 0;" (click)="tolast()">
            <p>尾页</p>
          </div>
        </div>
        <div class="form-group options pages">
          <div class="input-group input-group-sm">
            <select class="form-control" name="pageChangedName" [(ngModel)]="PageInfo.pageSize" (change)="OnQuery()">
              <option>1</option>
              <option>2</option>
              <option>5</option>
              <option>10</option>
              <option>20</option>
              <option>50</option>
              <option>100</option>
              <option>200</option>
            </select>
            <span class="input-group-addon addon-right">条/页</span>
            <span class="input-group-addon addon-right">共{{PageInfo.totalCount}}条数据</span>
          </div>
        </div>
      </form>
      <table class="table table-hover table-bordered" id="table">
        <thead>
        <tr class="black-muted-bg">
          <th>帐号</th>
          <th>单量</th>
          <th>占比</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of info|paginate: { id: 'pager',
                                                        itemsPerPage:PageInfo.pageSize,
                                                        currentPage:PageInfo.pageIndex,
                                                        totalItems:PageInfo.totalCount};let index = index">
          <td>{{item.country}}</td>
          <td>{{item.value}}</td>
          <td [ngClass]="{'red-text':smallestmoneyindex.indexOf(index)!=-1,'green-text':biggestmoneyindex.indexOf(index)!=-1}">{{item.percentage}}%</td>
        </tr>
        </tbody>
      </table>
      <form class="pagination-wrapper" *ngIf="PageInfo.totalCount>20&&PageInfo.pageSize==20">
        <div class="form-group pages">
          <pagination-controls class="my-pagination" id="pager" (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true"
                               autoHide="true" previousLabel="上一页" nextLabel="下一页" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                               screenReaderCurrentLabel="You're on page">
          </pagination-controls>
        </div>
        <div class="to">
          <div class="topage">
            <p>跳至</p>
          </div>
          <div class="topage" style="width: 60px;">
            <div class="inputPage">
              <p>
                <input type="search" class="form-control" name="to"  (keyup.enter)="topage()">
              </p>
            </div>
          </div>
          <div class="topage">
            <p>页</p>
          </div>
          <div class="topage out" style="margin-left: 0;" (click)="tolast()">
            <p>尾页</p>
          </div>
        </div>
        <div class="form-group options pages">
          <div class="input-group input-group-sm">
            <select class="form-control" name="pageChangedName"  (ngModelChange)="OnQuery()">
              <option>1</option>
              <option>2</option>
              <option>5</option>
              <option>10</option>
              <option>20</option>
              <option>50</option>
              <option>100</option>
              <option>200</option>
            </select>
            <span class="input-group-addon addon-right">条/页</span>
            <span class="input-group-addon addon-right">共{{PageInfo.totalCount}}条数据</span>
            <span class="input-group-addon addon-right output">导出</span>
          </div>
        </div>
      </form>
  </div>

