.pop-content {
    width:500px;
    height:400px;
    position: relative;
    .modal-body{
        .custom-radio{
            width:100%;
            height:50px;
            margin:10px 0;
        }
    }
}