<div class="pop-content" id="form">
  <div class="modal-header">
    <span class="modal-title">任务列表</span>
  </div>
  <div class="modal-body">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>包裹</th>
          <th>仓库</th>
          <th>物流</th>
          <th>跟踪号</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="padding:0" width="300px">
            <table>
              <tbody>
                <tr>
                  <td>SKU</td>
                  <td>总数</td>
                  <td>已完成</td>
                  <td>缺少</td>
                </tr>
                <tr>
                  <td>DMT123456789</td>
                  <td>10</td>
                  <td>4</td>
                  <td>6</td>
                </tr>
              </tbody>
            </table>
          </td>
          <td>东莞仓库</td>
          <td>DHL ASALJ平邮小包</td>
          <td>11234567845</td>
        </tr>
        <tr>
          <td style="padding:0" width="300px">
            <table>
              <tbody>
                <tr>
                  <td>SKU</td>
                  <td>总数</td>
                  <td>已完成</td>
                  <td>缺少</td>
                </tr>
                <tr>
                  <td>DMT123456789</td>
                  <td>10</td>
                  <td>4</td>
                  <td>6</td>
                </tr>
              </tbody>
            </table>
          </td>
          <td>东莞仓库</td>
          <td>DHL ASALJ平邮小包</td>
          <td>11234567845</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <div class="btn-group">
      <button class="btn btn-primary" (click)="closeModal()">关闭</button>
    </div>
  </div>
</div>
