//筛选按钮
.toggle {
    float: right;
    margin-right: 10px;
}

.select-part {
    position: relative;
}

.option.no-bottom {
    margin-bottom: 0;
    padding: 0;
}

.toggle-select {
    position: absolute;
    bottom: -16px;
    width: 90px;
    left: 50%;
    margin-left: -45px;
    display: flex;
    justify-content: center;
}

.icon {
    margin-right: 8px;
}

.opt {
    height: 100%;
    margin-left: 15px;
}

.opttag {
    padding: 5px;
    border-radius: 5px;
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}

.opttag>i {
    position: absolute;
    right: -5px;
    top: -5px;
    visibility: hidden;
    font-size: 14px;
    width: 14px;
    height: 12px;
    color: red;
}

.opttag:hover>i {
    visibility: visible;
}

.action {
    position: relative;
}

.action .infomations {
    position: absolute;
    top: -10px;
    right: 0;
}

.action .infomations p {
    margin-bottom: 0;
    height: 30px;
    line-height: 30px;
    padding: 0 8px;
    border-bottom: 1px solid white;
    font-size: 0;
}

.action .infomations p:last-of-type {
    border-bottom: none;
}

.action .infomations p span {
    width: 120px;
    text-align: right;
    font-size: 14px;
}

.infomations p i {
    text-align: center;
    font-style: normal;
    font-size: 20px;
}

table thead tr th,
table tbody tr td {
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
}

table tbody tr td:nth-of-type(7) {
    padding: 0;
}

table tbody tr td>div {
    height: 215px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

table tbody tr td>div p {
    line-height: 1.5;
    padding: 0;
    margin: 0;
    font-size: 12px;
}

.black {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

.sep {
    display: block;
}

i {
    font-style: normal;
}

td.detail {
    width: 500px;
}

td.detail .detailDiv {
    height: 265px!important;
    width: 100%;
    display: flex;
    align-items: flex-start!important;
    .sep {
        display: flex;
        width: 100%;
        border-bottom: 1px solid white;
        &.more {
            i {
                width: 90px;
                &:first-of-type {
                    text-align: left;
                }
                &:nth-of-type(2) {
                    width: calc(100% - 180px);
                }
                &.seemore {
                    height: 20px;
                    line-height: 20px;
                }
            }
        }
        &:last-of-type {
            border-bottom: none;
            align-self: flex-end;
            i {
                cursor: pointer;
                font-size: 12px;
            }
        }
        >i {
            width: 20%;
            line-height: normal;
            height: 35px;
            word-wrap: break-word;
        }
    }
    .det-title>i {
        line-height: 35px;
    }
}

td.nagotiate .sep {
    border-radius: 50%;
}

td .sep a.btn {
    width: 100%;
}

table thead tr th label,
table tbody tr td label,
.action label {
    border: none;
}

.unpackerror {
    font-size: 20px;
    display: block;
    width: 100%;
}

//table thead tr th label .icon{position: relative;left:2px;}
//table tbody tr td label .icon{position: relative;top:-10px;}
@media screen and(max-width: 900px) {
    table tbody tr .detail .sep:last-of-type {
        display: block;
    } //table tbody tr .detail .sep:last-of-type i:nth-of-type(2){margin-bottom: 5px;}
    table tbody tr .detail .sep .response {
        display: none;
    }
    table tbody tr .detail .sep.det i {
        width: 50%;
    }
}

.detail-sales {
    position: relative;
    .mark {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0);
        top: 0;
        cursor: pointer;
    }
}

.detail-modal-body {
    background: #0275d8;
    width: auto;
    height: auto;
    padding: 5px;
    position: absolute;
    bottom: 105%;
    right: 0px;
    border-radius: 5px;
    z-index: 10;
    color: #fff;
    .detail-modal-content {
        width: 300px;
        height: auto;
        font-size: 17px;
        &:after {
            display: block;
            content: '';
            width: 40px;
            height: 40px;
            background: #0275d8;
            transform: rotate(45deg);
            position: absolute;
            bottom: -10px;
            right: 25px;
        }
    }
}

.max-text {
    display: block;
}

.display-block {
    display: block;
    width: 100%;
    text-align: center;
}

.sku-link {
    color: rgb(4, 0, 250) !important;
    font-size: 12px;
    text-decoration: underline !important;
}

.edit-wrap {
    width: 80px;
}

.discount-edit,
.discount-btn {
    margin: 0;
    height: 30px;
    background: transparent;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: 0;
    outline: none;
    float: left;
}

.discount-edit {
    width: 40px;
}

.discount-btn {
    width: 30px;
    background: #209e91;
    border: 1px solid #209e91;
    line-height: 25px;
}