.pop-content{
    width:500px;
    overflow: hidden;
    .modal-body{
        padding:0;
        ul{
            padding:0;
            margin:10px;
            li{
                margin:5px 0;
            }
        }
    }
}
