<div class="pop-content">
  <div class="modal-header">
    <span class="modal-title">{{modalHeader}}</span>
    <button type="button" class="close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
      <ul>
        <li>
          <label class="list-label">员工工号</label>
          <input type="text" formControlName="workerNo" class="form-control" placeholder="员工工号" disabled>
        </li>
        <li>
          <label class="list-label">员工姓名</label>
          <input type="text" formControlName="name" class="form-control" placeholder="员工姓名" disabled>
        </li>
        <li>
          <span class="must">必填</span>
          <label class="list-label">输入新密码</label>
          <input type="password" formControlName="password" class="form-control" placeholder="请输入新密码">
        </li>
      </ul>
      <div class="modal-footer">
        <div class="btn-group">
          <button class="btn btn-default" (click)="closeModal()">关闭</button>
          <button type="submit" class="btn btn-primary">保存</button>
        </div>
      </div>
    </form>
  </div>
</div>
