<div class="toggle-btn">
  <div class="arrorw arrorw-right" (click)="toggleBar(0)"><p> > > > > > > </p></div>
  <span class="title-b" (click)="toggleBar(1)">表格</span>
  <div class="toggele-bar" [ngStyle]="{'left':toggle?'0':'50%'}"></div>
  <span class="title-t" (click)="toggleBar(0)">饼图</span>
  <div class="arrorw arrorw-left" (click)="toggleBar(1)"><p> < < < < < < </p></div>
</div>


<div class="content-wrap">
  <div class="table-wrap" [ngClass]="{'unvisiable':!toggle}">
    <form class="pagination-wrapper">
      <div class="form-group pages">
        <pagination-controls class="my-pagination" id="pager" (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true"
                             autoHide="true" previousLabel="上一页" nextLabel="下一页" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                             screenReaderCurrentLabel="You're on page">
        </pagination-controls>
      </div>
      <div class="to" *ngIf="PageInfo.totalCount>PageInfo.pageSize">
        <div class="topage">
          <p>跳至</p>
        </div>
        <div class="topage" style="width: 60px;">
          <div class="inputPage">
            <p>
              <input type="search" class="form-control" name="to" [(ngModel)]="Topage" (keyup.enter)="topage()">
            </p>
          </div>
        </div>
        <div class="topage">
          <p>页</p>
        </div>
        <div class="topage out" style="margin-left: 0;" (click)="tolast()">
          <p>尾页</p>
        </div>
      </div>
      <div class="form-group options pages">
        <div class="input-group input-group-sm">
          <select class="form-control" name="pageChangedName" [(ngModel)]="PageInfo.pageSize" (ngModelChange)="OnQuery()">
            <option>1</option>
            <option>2</option>
            <option>5</option>
            <option>10</option>
            <option>20</option>
            <option>50</option>
            <option>100</option>
            <option>200</option>
          </select>
          <span class="input-group-addon addon-right">条/页</span>
          <span class="input-group-addon addon-right">共{{PageInfo.totalCount}}条数据</span>
        </div>
      </div>
    </form>
    <table class="table table-hover table-bordered" id="table">
      <thead>
      <tr class="black-muted-bg">
          <th>天数</th>
          <th>数量</th>
          <th>占比</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of tableinfo|paginate: { id: 'pager',
                                                        itemsPerPage:PageInfo.pageSize,
                                                        currentPage:PageInfo.pageIndex,
                                                        totalItems:PageInfo.totalCount};let index = index">
        <td>{{item.day}}</td>
        <td>{{item.num}}</td>
        <td [ngClass]="{'red-text':smallestmoneyindex.indexOf(index)!=-1,'green-text':biggestmoneyindex.indexOf(index)!=-1}">{{item.percentage}}%</td>
      </tr>
      </tbody>
    </table>
    <form class="pagination-wrapper" *ngIf="PageInfo.totalCount>20&&PageInfo.pageSize==20">
      <div class="form-group pages">
        <pagination-controls class="my-pagination" id="pager" (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true"
                             autoHide="true" previousLabel="上一页" nextLabel="下一页" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                             screenReaderCurrentLabel="You're on page">
        </pagination-controls>
      </div>
      <div class="to" *ngIf="PageInfo.totalCount>PageInfo.pageSize">
        <div class="topage">
          <p>跳至</p>
        </div>
        <div class="topage" style="width: 60px;">
          <div class="inputPage">
            <p>
              <input type="number" class="form-control" name="to"  (keyup.enter)="topage()">
            </p>
          </div>
        </div>
        <div class="topage">
          <p>页</p>
        </div>
        <div class="topage out" style="margin-left: 0;" (click)="tolast()">
          <p>尾页</p>
        </div>
      </div>
      <div class="form-group options pages">
        <div class="input-group input-group-sm">
          <select class="form-control" name="pageChangedName"  (ngModelChange)="OnQuery()">
            <option>1</option>
            <option>5</option>
            <option>10</option>
            <option>20</option>
            <option>50</option>
            <option>100</option>
            <option>200</option>
          </select>
          <span class="input-group-addon addon-right">条/页</span>
          <span class="input-group-addon addon-right">共{{PageInfo.totalCount}}条数据</span>
        </div>
      </div>
    </form>
  </div>
  <div class="lineChart-wrap" [ngClass]="{'unvisiable':toggle}">
  <ba-card class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-12"
           cardTitle={{title}} baCardClass="traffic-panel medium-card">
    <traffic-chart [doughnutData]="ChannelData" [TotalValue]="TotalValue"
                   [Character]="Character" [CircleTitle]="'总数量'"></traffic-chart>
  </ba-card>
  </div>
</div>

