.search-condition {
    li {
        margin: 3px 0;
    }
    .input-group {
        width: 450px;
        .btn {
            border-radius: 0 3px 3px 0;
        }
    }
}

.custom {
    input {
        width: 150px;
        background: rgba(255, 255, 255, .2);
        border: 1px solid #fff;
        border-radius: 3px;
        color: #fff;
    }
}

.table {
    font-size: 12px;
}