<div class="card card-block">
  <div class="gap">
    <button class="btn btn-primary" (click)="openAddDepartmentModal()">添加部门</button>
  </div>
  <h3 class="card-label">公司组织架构编制</h3>
  <tree-diagram [treesItem]="treesItem" (_getTreesState)="getTreesState($event)"></tree-diagram>

  <!-- <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>部门名称</th>
        <th>上级部门</th>
        <th>描述</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>{{item.name}}</td>
        <td>{{item.parentId>0? item.parentDepartmentName:""}}</td>
        <td>{{item.description}}</td>
        <td>
          <div>
            <button class="btn btn-primary" (click)="openEditDepartmentModal(item.id)">编辑</button>
            <button class="btn btn-danger" (click)="deleteDepartment(item.id)">删除</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table> -->
</div>