.modal-content {
    width: 100%;
    height: 100%;
}

.modal-body {
    color: white;
}

form {
    margin: -5px;
    width: 101%;
    font-size: 0;
    display: flex;
    justify-content: center;
}

.head {
    background-color: #a4d6ff;
    padding: 5px 0;
    border-radius: 5px 5px 0 0;
}

.mytitle {
    font-size: 16px;
    padding-left: 15px;
}

.submit {
    background-color: #c78100;
    border: 1px solid #c78100;
    color: whitesmoke;
}

.cancel {
    background-color: transparent;
    border: 1px solid whitesmoke;
    color: whitesmoke;
}

.close {
    margin-right: 10px;
}