<div class="pop-content animated fadeIn">
  <div class="modal-header">
    <span class="modal-title">品牌设置</span>
    <button type="button" class="close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label>
      <span class="must">必填</span>
      logo上传
    </label>
    <ba-picture-uploader [picture]="profile.picture" [defaultPicture]="defaultPicture" (onUpload)="picUpload($event)" (onUploadCompleted)="picUploadCompleted($event)"
      [uploaderOptions]="uploaderOptions" logo="true"></ba-picture-uploader>
    <label>
      <span class="must">必填</span>
      品牌名称
    </label>
    <input type="text" class="form-control" [(ngModel)]="brandName" placeholder="输入品牌名称">
    <label>
      <span class="must">必填</span>
      品牌地址
    </label>
    <textarea class="form-control" [(ngModel)]="recordUrl" placeholder="输入品牌备案地址"></textarea>
    <label>
      <span class="explain">选填</span>
      品牌备注
    </label>
    <textarea class="form-control" [(ngModel)]="brandNote" placeholder="输入品牌备注"></textarea>
  </div>
  <div class="modal-footer">
    <div class="btn-group">
      <button class="btn btn-default" (click)="closeModal()">取消</button>
      <button class="btn btn-primary" (click)="onSaveBrand()" >保存</button>
    </div>
  </div>
</div>
