.modal-footer{
  padding:10px;
}
.link{
  font-size: 10px;
  color: #FF9900;
}
.result p{
  font-size: 20px;
}
p.red-text{
 color: #a30404;
}
label.mylabel{
  font-size: 20px;
  margin-bottom: 15px;
}
input.myinput{
  padding:10px;
  font-size: 20px;
}
.pop-content{
  width: 1000px;
}
